########################################
# Pydantic for data models
########################################
pydantic>=2.0.0

########################################
# General dependencies
########################################
psutil
requests

########################################
# Azure Functions dependencies
########################################
azure-functions
cryptography==43.0.3  # Workaround for Azure Functions for cryptography dependency issue

########################################
# Azure Data dependencies
########################################
azure-core
azure-data-tables
azure-storage-blob

########################################
# Azure SQL and AI integration
########################################
azure-ai-inference
azure-identity
openai
pyodbc
