openapi: 3.0.1
info:
  title: Destiny 2 Vault Assistant
  description: Azure Function App that integrates with the Bungie API to retrieve vault and character data, manage DIM backups, and perform authentication.
  version: "1.0.0"
servers:
  - url: https://therobvault.azure.barrimond.net/api
paths:
  /vault:
    post:
      summary: Retrieve Destiny 2 vault inventory
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
      responses:
        '200':
          description: Vault inventory
          content:
            application/json: {}
  /characters:
    post:
      summary: Retrieve Destiny 2 character equipment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
      responses:
        '200':
          description: Character equipment
          content:
            application/json: {}
  /dim/backup:
    post:
      summary: Upload a DIM backup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                membership_id:
                  type: string
                dim_backup:
                  type: string
      responses:
        '200':
          description: Confirmation message
  /dim/list:
    get:
      summary: List stored DIM backups
      responses:
        '200':
          description: List of backups
          content:
            application/json: {}
  /token:
    get:
      summary: Retrieve cached access token
      responses:
        '200':
          description: Access token
  /token/refresh:
    get:
      summary: Refresh the current access token
      responses:
        '200':
          description: New access token
